---
layout: archive
---

 <img src="files/bio-photo-big.jpg" alt="Photo: Jakob Zech" style="width:320px">
  <p style="clear: both;">

    
<b>Jakob Zech</b><br>
<!-- Department of Aeronautics and Astronautics<br> -->
<!-- Room 37-431<br> -->
<!-- Massachusetts Institute of Technology<br> -->
<!-- 77 Massachusetts Avenue, Cambridge, MA 02139<br> -->
Room 1/207 <br>
<!-- Interdisciplinary Center for Scientific Computing <br> -->
<!-- Heidelberg University<br> -->
Im Neuenheimer Feld 205 <br>
69120 Heidelberg, Germany <br>
<br>
<i class="fas fa-fw fa-envelope-square"></i> <a href= "mailto:jakob.zech@uni-heidelberg.de">jakob.zech@uni-heidelberg.de</a>
<br>
<i class="fas fa-phone"></i> +49 6221 54<b>14504</b>
<!-- <br> -->
<!-- <i class="fas fa-fw fa-envelope-square"></i> <a href= "mailto:jakob.zech@uni-heidelberg.de">Sekretariat-Zech@iwr.uni-heidelberg.de</a> (Sec.) -->
<!-- , <a href= "mailto:jzech@mit.edu">jzech@mit.edu</a> -->
<br>
<!-- <i class="fas fa-phone"></i> +49 6221 54<b>14631</b> (Sec.) -->
<!-- <br> -->
<!-- <br> -->

<!-- <p><b style="color: red;">Open PhD position available, see <a href="{{ site.baseurl }}/position/" target="_blank" style="color: red;">here</a>.</b></p> -->
<!-- <p><b>Open position available, see <a href="{{ site.baseurl }}/position/" target="_blank">here</a>.</b></p> -->

    <!-- <b>Open position for available, see  -->
    <!--      <a href="https://adb.zuv.uni-heidelberg.de/info/INFO_FDB$.startup?MODUL=LS&M1=1&M2=0&M3=0&PRO=33376" target="_blank">here</a>.</b> -->

<!-- <b>Open positions for PhD candidates/Postdocs available. If you are interested, you can apply directly via email. Prospective candidates are expected to have a strong background in numerical analysis, uncertainty quantification, inverse problems, deep learning or related fields.</b> -->

<h1>About</h1>

I am Juniorprofessor at the
<a href= "https://typo.iwr.uni-heidelberg.de/home/">Interdisciplinary Center for Scientific Computing</a>
at <a href= "https://www.uni-heidelberg.de/en">Heidelberg University</a>.
<!-- I am currently a postdoc at MIT with Youssef Marzouk, and will -->
<!-- start as a junior professor at the University of Heidelberg in April 2020. -->
<!-- Before moving to MIT in 2019, I completed my PhD at ETH Z&uuml;rich with Christoph Schwab on -->
<!-- Sparse-Grid Approximation of High-Dimensional Parametric PDEs. -->
<!-- In my free time, I enjoy reading books on history, -->
<!-- taking pictures, listening to music and going to museums. -->
Before moving to Heidelberg in April 2020, I was a postdoc at MIT
in the group of Youssef Marzouk. In 2018 I completed my PhD at
ETH Z&uuml;rich with Christoph Schwab on Sparse-Grid Approximation
of High-Dimensional Parametric PDEs.
<!-- In my free time, I enjoy reading -->
<!-- books about history, taking pictures, listening to music and going to museums. -->



<br><br>
<h1>Research</h1>

  My research focuses on the methodological foundations and theory of
  forward and inverse problems in Uncertainty Quantification. I am interested
  in developing and analyzing algorithms for high-dimensional approximation
  based on sparse-grid techniques, neural networks and transport methods.
  
<br><br>
<h1>Short CV</h1>
<style>
  table, th, td {
  font-size:medium;}
</style>

<table style="width:100%">
<colgroup>
       <col span="1" style="width: 30%;">
       <col span="1" style="width: 70%;">
</colgroup>  
  <tr>
    <td><b>Since 4/2020</b></td>
    <td>Juniorprofessor at Heidelberg University</td>
  </tr>
  <tr>
    <td><b>4/2019 - 3/2020</b></td>
    <td>Postdoctoral fellow at MIT (SNSF fellowship 184530)</td>
  </tr>
  <tr>
    <td><b>1/2019 - 3/2019</b></td>
    <td>Postdoc at ETH Z&uuml;rich</td>
  </tr>
  <tr>  
  <tr>
    <td><b>7/2014 - 12/2018</b></td>
    <td>PhD in Mathematics at ETH Z&uuml;rich</td>
  </tr>
  <tr>
    <td><b>9/2012 - 6/2014</b></td>
    <td>MSc in Applied Mathematics at ETH Z&uuml;rich</td>
  </tr>
  <tr>
    <td><b>10/2008 - 3/2012</b></td>
    <td>BSc in Technical Mathematics at TU Wien</td>
  </tr>
</table> 


<!--
-->
    

